/* General */
* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: #fff;
  background: #111111;
  font-family: 'Roboto', sans-serif;
}

img {
  width: 100%;
  display: block;
}

.container {
  padding: 0 1em;
}

/* Home */
.home {
  min-height: 100vh;
  background-size: 200px 200px;
  display: flex;
  justify-content: center;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2em 3em;
  border-radius: 10px;
  margin: auto 2.5em;
  background: #212121;
}

.home-header {
  margin: 0 0 0.25em 0;
  font-size: 2.5rem;
}

.home-subtitle {
  line-height: 1.6;
  margin: 0 0 2em 0;
}

.home-btn-link {
  margin: 0 0 1.25em 0;
  text-decoration: none;
  color:  #212121;
  background: #fff;
  padding: 10px 20px;
  border-radius: 7px;
  -webkit-transition: background-color 200ms,
                      color 200ms;
}

.home-btn-link:visited {
  color: #212121;
}

.home-btn-link:hover,
.home-btn-link:focus {
  color: #fff;
  background: #555555;
}

.home-attribution {
  margin: 0;
  font-size: 0.75rem;
}

/*Player*/
.search-container {
  display: flex;
  flex-direction: column;
}

.search-header {
  text-align: center;
  font-size: 2.5rem;
}

.search-form {
  margin: 0 auto 1.5em auto;
  display: flex;
}

.search-input,
.search-btn {
  font-family: 'Roboto', sans-serif;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.search-input {
  padding: 5px 40px 5px 5px;
}

.search-btn {
  position: absolute;
  margin: 0 0 0 12.9em;
  background: #111111;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}

.search-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2em 0 0 0;
  font-size: 0.8rem;
}

.search-empty .fa-search {
  font-size: 5rem;
}

.search-call-to-action {
  font-size: 1rem;
  margin: 1.5em 0 0 0;
}

.search-list {
  padding: 0 1em;
  margin: 0 0 8em 0;
  display: flex;
  flex-direction: column;
}

.search-item,
.track-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5em 0;
}

.search-item-main {
  width: 95%;
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.search-item-info {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-img {
  width: 75px;
  height: 75px;
}

.search-artist-img {
  border-radius: 50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
}

.search-item-name,
.search-item-artists {
  text-transform: capitalize;
  margin: 0.3em 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fa-ellipsis-v {
  font-size: 1.3rem;
  padding: 1em 0 1em 1em;
  cursor: pointer;
}

/* Album */
.album-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0 1em 0;
  background-image: linear-gradient(to bottom, #777777, #333333, #111111);
}

.album-info-img {
  width: 175px;
  height: 175px;
  object-fit: cover;
  order: -1;
}

.album-info-name {
  margin: 1em 0 0 0;
}

.album-info-artists {
  margin: 0.75em 0 0 0;
  font-size: 0.9rem;
  opacity: 0.8;
}

.track-list {
  padding: 2em 1.5em 0 1.5em;
  margin: 0 0 8em 0;
}

.track-list-item {
  margin: 0 0 1em 0;
  cursor: pointer;
}

.track-list-item-info {
  width: 95%;
}

.track-list-item-name,
.track-list-item-artists {
  margin: 0;
}

.track-list-item-name {
  margin: 0 0 0.5em 0;
}

.track-list-item-artists {
  opacity: 0.7;
  font-size: 0.9rem;
}


/* PlayerFooter */
.player-footer-progress-container {
  width: 100%;
  background: #777777;
}

.player-footer-progress {
  width: 0;
  height: 3px;
  background-color: #fff;
}

.player-footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.player-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333333;
  width: 100%;
}

.player-footer-main {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.player-footer-img,
.search-img {
  object-fit: cover;
  order: -1;
  margin: 0 0.75em 0 0;
}

.player-footer-img {
  width: 100px;
  height: 100px;
}

.player-footer-info {
  width: 80%;
  white-space: nowrap;
  overflow-x: auto;
}

.fa-circle {
  align-self: flex-start;
  margin: 0 2em;
  font-size: 0.25rem;
}

.player-footer-artists,
.search-item-artists {
  opacity: 0.7;
}

.player-footer-btn {
  background: #333333;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0 1em 0 0;
}
