/* General */
* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: #fff;
  background: #111111;
  font-family: 'Roboto', sans-serif;
}

ul {
  padding: 0;
}

strong {
  font-weight: 700;
}

img {
  width: 100%;
  display: block;
}

.container {
  padding: 0 1.5em;
  max-width: 900px;
  margin: 0 auto;
}

.go-back,
.search {
  position: absolute;
  top: 0;
  cursor: pointer;
  font-size: 2rem;
}

.go-back {
  left: 0;
  padding: 1em 0 0 1em;
}

.search {
  right: 0;
  padding: 1em 1em 0 0;
}

@media (min-width: 800px) {
  .container {
    padding: 0 5em;
  }

  .go-back,
  .search {
    font-size: 2.5rem;
  }
}

/* Home */
.home {
  min-height: 100vh;
  background-size: 200px 200px;
  display: flex;
  justify-content: center;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2em 3em;
  border-radius: 10px;
  margin: auto 2.5em;
  background: #212121;
}

.home-header {
  margin: 0 0 0.25em 0;
  font-size: 2.5rem;
}

.home-subtitle {
  line-height: 1.6;
  margin: 0 0 2em 0;
}

.home-btn-link {
  margin: 0 0 1.25em 0;
  text-decoration: none;
  color:  #212121;
  background: #fff;
  padding: 10px 20px;
  border-radius: 7px;
  -webkit-transition: background-color 200ms,
                      color 200ms;
}

.home-btn-link:visited {
  color: #212121;
}

.home-btn-link:hover,
.home-btn-link:focus {
  color: #fff;
  background: #555555;
}

.home-attribution {
  margin: 0;
  font-size: 0.75rem;
}

/*Player*/
.search-container {
  display: flex;
  flex-direction: column;
}

.search-header {
  text-align: center;
  font-size: 2.5rem;
}

.search-form {
  margin: 0 auto 1.5em auto;
  display: flex;
}

.search-input,
.search-btn {
  font-family: 'Roboto', sans-serif;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.search-input {
  padding: 5px 40px 5px 5px;
}

.search-btn {
  position: absolute;
  margin: 0 0 0 12.9em;
  background: #111111;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}

.search-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2em 0 0 0;
  font-size: 0.8rem;
}

.search-empty .fa-search {
  font-size: 5rem;
}

.search-call-to-action {
  font-size: 1rem;
  margin: 1.5em 0 0 0;
}

.search-list {
  padding: 0 1em;
  margin: 0 0 8em 0;
  display: flex;
  flex-direction: column;
}

.search-item,
.track-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5em 0;
}

.search-item-main,
.releases-item {
  width: 95%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.search-item-info,
.track-list-item-info,
.releases-item-info {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-item-img,
.releases-item-img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  order: -1;
  margin: 0 1em 0 0;
}

.search-artist-img {
  border-radius: 50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
}

.search-item-name,
.search-item-artists,
.releases-item-name,
.releases-item-year,
.track-list-item-name,
.track-list-item-artists {
  margin: 0.3em 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-item-artists,
.releases-item-year,
.track-list-item-artists {
  text-transform: capitalize;
}


.fa-ellipsis-v {
  font-size: 1.3rem;
  padding: 1em 0 1em 1em;
  cursor: pointer;
}

/* MoreInfoModal */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background: #313131;
  color: #fff;
  outline: none;
  width: 300px;
  padding: 1em;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-header {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.modal-header-img {
  order: -1;
}

.modal-header-name,
.modal-header-artists {
  margin: 0.5em 0 0 0;
}

.modal-header-artists {
  opacity: 0.8;
}

.modal-options {
  margin: 1.5em 0 0 0;
}

.modal-option {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 1em 0;
  cursor: pointer;
}

.modal-option-description {
  margin: 0 0 0 1em;
}

/* Album */
.album-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0 1em 0;
  background-image: linear-gradient(to bottom, #777777, #333333, #111111);
}

.album-info-img {
  width: 175px;
  height: 175px;
  object-fit: cover;
  order: -1;
}

.album-info-name {
  text-align: center;
  margin: 1em 1em 0 1em;
  line-height: 1.4;
}

.album-info-artists {
  margin: 0.75em 0 0 0;
  font-size: 0.9rem;
  opacity: 0.8;
}

.track-list {
  margin: 0 auto 8em auto;
}

.track-list-item,
.releases-item {
  margin: 0 0 1em 0;
}

.track-list-item {
  cursor: pointer;
}

.track-list-item-name,
.track-list-item-artists {
  margin: 0;
}

.track-list-item-name {
  margin: 0 0 0.5em 0;
}

.track-list-item-artists {
  opacity: 0.7;
  font-size: 0.9rem;
}

/* Artists */
.artist-container {
  margin: 0 auto;
  max-width: 900px;
}

.artist-info {
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  justify-content: center;
  padding: 0 0 2em 0
}

.artist-info-name {
  font-size: 3rem;
}

.artist-main {
  margin: 0 auto 8em auto;
}

.artist-section {
  margin: 3em 0 0 0;
}

.artist-section-header {
  text-align: center;
  font-size: 1.25rem;
  margin: 0;
}

.artist-track-list {
  margin: 0;
}

.artist-track-list-item-info {
  display: flex;
  align-items: center;
}

.artist-track-list-item-info div {
  min-width: 0;
}

.track-list-item-num {
  margin: 0 1em 0 0;
  opacity: 0.7;
}

.artist-releases {
  display: flex;
  flex-direction: column;
}

.releases-btn {
  font-size: 0.9rem;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  border: 1px solid #515151;
  background: #111111;
  align-self: center;
  padding: 7px 20px;
  border-radius: 10px;
}

@media (min-width: 900px) {
  .artist-info {
    height: 450px;
  }
}

/* ArtistReleases */
.all-releases {
  margin: 4em auto 8em auto;
}

.all-releases-section {
  margin: 2em 0 0 0;
}

/* PlayerFooter */
.player-footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.player-footer {
  display: flex;
  align-items: center;
  background: #333333;
  width: 100%;
  height: 120px;
}

.player-footer-img {
  object-fit: cover;
  order: -1;
  width: 120px;
  height: 120px;
}

.player-footer-info {
  margin: 0 auto;
  width: 100%;
  max-width: 550px;
  min-width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1.5em;
}

.player-footer-controls {
  display: flex;
  justify-content: center;
  padding: 1em 0;
}

.player-footer-btn {
  background: #333333;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0 0.5em;
}

.player-footer-progress-container {
  width: 100%;
  background: #777777;
}

.player-footer-progress {
  width: 0;
  height: 3px;
  background-color: #fff;
}

.player-footer-track {
  width: 100%;
  min-width: 0;
  white-space: nowrap;
  overflow-x: auto;
  margin: 0 auto;
}

.player-footer-track-info {
  text-align: center;
}

.player-footer-artists,
.search-item-artists {
  opacity: 0.7;
}

.fa-circle {
  align-self: flex-start;
  margin: 0 2em;
  font-size: 0.25rem;
}

@media (min-width: 775px) {
  .player-footer-img {
    position: absolute;
  }
}
